# Config and Htaccess Files
/upload/.htaccess
/upload/config.php
/upload/admin/config.php

# Image File
!/upload/image/no_image.jpg

# Image Cache Files
/upload/image/cache/*
!/upload/image/cache/index.html

# System Cache Files
/upload/system/storage/cache/*
!/upload/system/storage/cache/index.html

# Modification Files
/upload/system/storage/modification/*
!/upload/system/storage/modification/index.html

# Templates Files
/upload/image/templates/*
/upload/image/templates/default.jpg

# Download Files
/upload/system/storage/download/*
!/upload/system/storage/download/index.html

# Upload Files
/upload/system/storage/upload/*
!/upload/system/storage/upload/index.html

# Flags 
# remove sharp char if you want to add flags to gitignore
# /upload/flags/*

# Log Files
/upload/system/storage/logs/*
!/upload/system/storage/logs/index.html

# If you want to ignore install file use following lines [on development mode]
# /upload/backup.install/*
# /upload/install/*

# Ignore all vendor files included by composer and the lock file
/tests/phpunit/vendor/*
/tests/phpunit/composer.lock
/vendor/*

# Test Config File
/tests/phpunit/bootstrap.php

# IDE Project files
/.idea
upload/catalog/language/he-temp/
upload/catalog/language/he-il/account/account.php
upload/catalog/language/he-il/account/address.php
upload/catalog/language/he-il/account/download.php
upload/catalog/language/he-il/account/edit.php
upload/catalog/language/he-il/account/forgotten.php
upload/catalog/language/he-il/account/login.php
upload/catalog/language/he-il/account/logout.php
upload/catalog/language/he-il/account/newsletter.php
upload/catalog/language/he-il/account/order.php
upload/catalog/language/he-il/account/password.php
upload/catalog/language/he-il/account/recurring.php
upload/catalog/language/he-il/account/register.php
upload/catalog/language/he-il/account/reset.php
upload/catalog/language/he-il/account/return.php
upload/catalog/language/he-il/account/reward.php
upload/catalog/language/he-il/account/success.php
upload/catalog/language/he-il/account/transaction.php
upload/catalog/language/he-il/account/voucher.php
upload/catalog/language/he-il/account/wishlist.php
upload/catalog/language/he-il/affiliate/account.php
upload/catalog/language/he-il/affiliate/edit.php
upload/catalog/language/he-il/affiliate/forgotten.php
upload/catalog/language/he-il/affiliate/login.php
upload/catalog/language/he-il/affiliate/logout.php
upload/catalog/language/he-il/affiliate/password.php
upload/catalog/language/he-il/affiliate/payment.php
upload/catalog/language/he-il/affiliate/register.php
upload/catalog/language/he-il/affiliate/success.php
upload/catalog/language/he-il/affiliate/tracking.php
upload/catalog/language/he-il/affiliate/transaction.php
upload/catalog/language/he-il/api/cart.php
upload/catalog/language/he-il/api/coupon.php
upload/catalog/language/he-il/api/currency.php
upload/catalog/language/he-il/api/customer.php
upload/catalog/language/he-il/api/login.php
upload/catalog/language/he-il/api/order.php
upload/catalog/language/he-il/api/payment.php
upload/catalog/language/he-il/api/reward.php
upload/catalog/language/he-il/api/shipping.php
upload/catalog/language/he-il/api/voucher.php
upload/catalog/language/he-il/checkout/cart.php
upload/catalog/language/he-il/checkout/checkout.php
upload/catalog/language/he-il/checkout/failure.php
upload/catalog/language/he-il/checkout/success.php
upload/catalog/language/he-il/common/cart.php
upload/catalog/language/he-il/common/currency.php
upload/catalog/language/he-il/common/footer.php
upload/catalog/language/he-il/common/header.php
upload/catalog/language/he-il/common/language.php
upload/catalog/language/he-il/common/maintenance.php
upload/catalog/language/he-il/common/search.php
upload/catalog/language/he-il/en-gb.php
upload/catalog/language/he-il/en-gb.png
upload/catalog/language/he-il/error/not_found.php
upload/catalog/language/he-il/extension/captcha/basic_captcha.php
upload/catalog/language/he-il/extension/captcha/google_captcha.php
upload/catalog/language/he-il/extension/credit_card/sagepay_direct.php
upload/catalog/language/he-il/extension/credit_card/sagepay_server.php
upload/catalog/language/he-il/extension/module/account.php
upload/catalog/language/he-il/extension/module/affiliate.php
upload/catalog/language/he-il/extension/module/amazon_login.php
upload/catalog/language/he-il/extension/module/amazon_pay.php
upload/catalog/language/he-il/extension/module/bestseller.php
upload/catalog/language/he-il/extension/module/category.php
upload/catalog/language/he-il/extension/module/divido_calculator.php
upload/catalog/language/he-il/extension/module/ebay_listing.php
upload/catalog/language/he-il/extension/module/featured.php
upload/catalog/language/he-il/extension/module/filter.php
upload/catalog/language/he-il/extension/module/google_hangouts.php
upload/catalog/language/he-il/extension/module/information.php
upload/catalog/language/he-il/extension/module/latest.php
upload/catalog/language/he-il/extension/module/laybuy_layout.php
upload/catalog/language/he-il/extension/module/special.php
upload/catalog/language/he-il/extension/module/store.php
upload/catalog/language/he-il/extension/openbay/amazon_order.php
upload/catalog/language/he-il/extension/openbay/amazonus_order.php
upload/catalog/language/he-il/extension/openbay/ebay_order.php
upload/catalog/language/he-il/extension/openbay/etsy_order.php
upload/catalog/language/he-il/extension/payment/amazon_login_pay.php
upload/catalog/language/he-il/extension/payment/authorizenet_aim.php
upload/catalog/language/he-il/extension/payment/authorizenet_sim.php
upload/catalog/language/he-il/extension/payment/bank_transfer.php
upload/catalog/language/he-il/extension/payment/bluepay_hosted.php
upload/catalog/language/he-il/extension/payment/bluepay_redirect.php
upload/catalog/language/he-il/extension/payment/cardconnect.php
upload/catalog/language/he-il/extension/payment/cardinity.php
upload/catalog/language/he-il/extension/payment/cheque.php
upload/catalog/language/he-il/extension/payment/cod.php
upload/catalog/language/he-il/extension/payment/divido.php
upload/catalog/language/he-il/extension/payment/eway.php
upload/catalog/language/he-il/extension/payment/firstdata.php
upload/catalog/language/he-il/extension/payment/firstdata_remote.php
upload/catalog/language/he-il/extension/payment/free_checkout.php
upload/catalog/language/he-il/extension/payment/g2apay.php
upload/catalog/language/he-il/extension/payment/globalpay.php
upload/catalog/language/he-il/extension/payment/globalpay_remote.php
upload/catalog/language/he-il/extension/payment/klarna_account.php
upload/catalog/language/he-il/extension/payment/klarna_checkout.php
upload/catalog/language/he-il/extension/payment/klarna_invoice.php
upload/catalog/language/he-il/extension/payment/laybuy.php
upload/catalog/language/he-il/extension/payment/liqpay.php
upload/catalog/language/he-il/extension/payment/mastercard_pgs.php
upload/catalog/language/he-il/extension/payment/nochex.php
upload/catalog/language/he-il/extension/payment/paymate.php
upload/catalog/language/he-il/extension/payment/paypoint.php
upload/catalog/language/he-il/extension/payment/payza.php
upload/catalog/language/he-il/extension/payment/perpetual_payments.php
upload/catalog/language/he-il/extension/payment/pilibaba.php
upload/catalog/language/he-il/extension/payment/pp_express.php
upload/catalog/language/he-il/extension/payment/pp_payflow.php
upload/catalog/language/he-il/extension/payment/pp_payflow_iframe.php
upload/catalog/language/he-il/extension/payment/pp_pro.php
upload/catalog/language/he-il/extension/payment/pp_pro_iframe.php
upload/catalog/language/he-il/extension/payment/pp_standard.php
upload/catalog/language/he-il/extension/payment/realex.php
upload/catalog/language/he-il/extension/payment/realex_remote.php
upload/catalog/language/he-il/extension/payment/sagepay_direct.php
upload/catalog/language/he-il/extension/payment/sagepay_server.php
upload/catalog/language/he-il/extension/payment/sagepay_us.php
upload/catalog/language/he-il/extension/payment/securetrading_pp.php
upload/catalog/language/he-il/extension/payment/securetrading_ws.php
upload/catalog/language/he-il/extension/payment/skrill.php
upload/catalog/language/he-il/extension/payment/twocheckout.php
upload/catalog/language/he-il/extension/payment/web_payment_software.php
upload/catalog/language/he-il/extension/payment/worldpay.php
upload/catalog/language/he-il/extension/recurring/pp_express.php
upload/catalog/language/he-il/extension/shipping/auspost.php
upload/catalog/language/he-il/extension/shipping/citylink.php
upload/catalog/language/he-il/extension/shipping/fedex.php
upload/catalog/language/he-il/extension/shipping/flat.php
upload/catalog/language/he-il/extension/shipping/free.php
upload/catalog/language/he-il/extension/shipping/item.php
upload/catalog/language/he-il/extension/shipping/parcelforce_48.php
upload/catalog/language/he-il/extension/shipping/pickup.php
upload/catalog/language/he-il/extension/shipping/pilibaba.php
upload/catalog/language/he-il/extension/shipping/royal_mail.php
upload/catalog/language/he-il/extension/shipping/ups.php
upload/catalog/language/he-il/extension/shipping/usps.php
upload/catalog/language/he-il/extension/shipping/weight.php
upload/catalog/language/he-il/extension/total/coupon.php
upload/catalog/language/he-il/extension/total/credit.php
upload/catalog/language/he-il/extension/total/handling.php
upload/catalog/language/he-il/extension/total/klarna_fee.php
upload/catalog/language/he-il/extension/total/low_order_fee.php
upload/catalog/language/he-il/extension/total/reward.php
upload/catalog/language/he-il/extension/total/shipping.php
upload/catalog/language/he-il/extension/total/sub_total.php
upload/catalog/language/he-il/extension/total/total.php
upload/catalog/language/he-il/extension/total/voucher.php
upload/catalog/language/he-il/information/contact.php
upload/catalog/language/he-il/information/information.php
upload/catalog/language/he-il/information/sitemap.php
upload/catalog/language/he-il/mail/affiliate.php
upload/catalog/language/he-il/mail/customer.php
upload/catalog/language/he-il/mail/forgotten.php
upload/catalog/language/he-il/mail/order.php
upload/catalog/language/he-il/mail/review.php
upload/catalog/language/he-il/mail/voucher.php
upload/catalog/language/he-il/product/category.php
upload/catalog/language/he-il/product/compare.php
upload/catalog/language/he-il/product/manufacturer.php
upload/catalog/language/he-il/product/product.php
upload/catalog/language/he-il/product/search.php
upload/catalog/language/he-il/product/special.php
upload/catalog/language/he-il/tool/upload.php
